<strong>Proceso ProductoMN</strong>

<p>
  Autopopular Formulario
</p>
  
<form role="form" class="form-horizontal">

  <script cam-script type="text/form-script">
	
  </script>
  
  <div class="control-group">
    <div class="controls">
    	
    	<label for="COTIZACION" class="control-label">Nombre del Presupuesto</label>
      	<input type="text" 
             cam-variable-name="COTIZACION"
             cam-variable-type="String"
             class="form-control" />
        
         <label for="CLIENTE" class="control-label">Cliente</label>
      <input type="text" 
             cam-variable-name="CLIENTE"
             cam-variable-type="String"
             maxlength=100
             required
             class="form-control" />
    
      <label for="EMAIL" class="control-label">E-mail</label>
      <input type="text" 
             cam-variable-name="EMAIL"
             cam-variable-type="String"
             maxlength=50
             required
             ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/"
             ng-model="EMAIL"
             class="form-control" />
             
      <label for="TEL" class="control-label">Tel</label>
      <input type="text" 
             cam-variable-name="TEL"
             cam-variable-type="String"
             ng-pattern="/^\d{8}$/"
             ng-model="TEL"
             class="form-control" />
             
	  <label for="CELULAR" class="control-label">Celular</label>
      <input type="text" 
             cam-variable-name="CELULAR"
             cam-variable-type="String"
             ng-pattern="/^0[\d]{8}$/"
             ng-model="CELULAR" 
             class="form-control" />             
    
    	<label for="CATEGORIA_SELECCIONADA" class="control-label">Categoria</label>
    	<input type="text" 
    	   cam-variable-name="CATEGORIA_PRODUCTO"
    	   class="form-control"
     	   readonly>
   		   		
     	<label for="PRODUCTO_SELECCIONADO" class="control-label">Producto</label>
   		<input type="text" 
    	   cam-variable-name="PRODUCTO_SELECCIONADO"
    	   class="form-control"
     	   readonly>
     	 
<!--      	<label class="control-label">Cotización de la Moneda</label>    -->
<!--      	<input type="text"  -->
<!--     	   cam-variable-name="COTIZACION_MONEDA" -->
<!--     	   class="form-control" -->
<!--      	   readonly> -->
     	
     	      		
   		<label for="moneda" class="control-label">Moneda</label>
      	<select cam-variable-name="moneda" cam-variable-type="String" class="form-control">
  			<option value="dolares" checked>U$S</option>
  			<option value="pesos" >$</option>
	 	 </select>
   		   		   		
     	<label for="PRECIO" class="control-label">Precio</label>
   		<input type="text" 
    	   cam-variable-name="PRECIO"
    	   class="form-control">
   		   		
   		<label for="DESCRIPCION" class="control-label">Descripcion</label>   		
   		<br>
   	    <textarea cam-variable-name="DESCRIPCION" cam-variable-type="String" rows= 2  class= "form-control" ></textarea>
   	       	    
   	    <label for="DIMENSIONES" class="control-label">Dimensiones</label>
   		<input type="text" 
    	   cam-variable-name="DIMENSIONES"
    	   class="form-control">
    	   
    	<label for="CONDICIONES" class="control-label">Condiciones</label>   		
   		<br>
   	    <textarea cam-variable-name="CONDICIONES" cam-variable-type="String" rows= 7  class= "form-control" ></textarea>
   	    
    	<label for="FORMA_DE_PAGO" class="control-label">Forma de Pago</label>   		
   		<br>
   	    <textarea cam-variable-name="FORMA_DE_PAGO" cam-variable-type="String" rows= 5  class= "form-control" ></textarea>
    	
    	<label for="TIEMPO_DE_ENTREGA" class="control-label">Tiempo de Entrega</label>   		
   		<br>
   	    <textarea cam-variable-name="TIEMPO_DE_ENTREGA" cam-variable-type="String" rows= 2  class= "form-control" ></textarea>
    	
    	
   		<label for="tipoCliente" class="control-label">Tipo de Cliente</label>
      	<select cam-variable-name="tipoCliente" cam-variable-type="String" class="form-control">
  			<option value="consumidor" checked>CONSUMIDOR FINAL</option>
  			<option value="cliente">CLIENTE</option>
  			<option value="lead">LEAD</option>
  			<option value="prospect">PROSPECT</option>
	  	</select> 
   		
   		<label for="DESCUENTO" class="control-label">Descuento %</label>
   		<input type="text"
       		cam-variable-name="DESCUENTO"
       		cam-variable-type="String"
       		class="form-control" />
   		   		
   		<label for="SOBRECOSTO" class="control-label">Sobrecosto %</label>
   		<input type="text"
       		cam-variable-name="SOBRECOSTO"
       		cam-variable-type="String"
       		class="form-control" />
       		
       	<br>
	     <label for="cambiarProducto">Cambiar producto</label>
	     <input type="checkbox"
	            cam-variable-name="cambiarProducto"
	            cam-variable-type="Boolean"
	            name="cambiarProducto"
	            class="form-control" />
   		   		   	    
  	</div>
 </div>
</form>