<strong>Proceso ProductoMN</strong>

<p>
  Datos del cliente
</p>

<form class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      
      <label for="CLIENTE" class="control-label">Cliente</label>
      <input type="text" 
             cam-variable-name="CLIENTE"
             cam-variable-type="String"
             maxlength=100
             required
             class="form-control" />
    
      <label for="EMAIL" class="control-label">E-mail</label>
      <input type="text" 
             cam-variable-name="EMAIL"
             cam-variable-type="String"
             maxlength=50
             required
             ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/"
             ng-model="EMAIL"
             class="form-control" />
             
      <label for="TEL" class="control-label">Tel</label>
      <input type="text" 
             cam-variable-name="TEL"
             cam-variable-type="String"
             ng-pattern="/^\d{8}$/"
             ng-model="TEL"
             class="form-control" />
             
      <label for="CELULAR" class="control-label">Celular</label>
      <input type="text" 
             cam-variable-name="CELULAR"
             cam-variable-type="String"
             ng-pattern="/^0[\d]{8}$/"
             ng-model="CELULAR" 
             class="form-control" />
      
    </div>
  </div>

  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>