<center>
	<h3>
		<strong>Presupuesto ProductoMN</strong>
	</h3>
	<p>Vista Previa</p>
</center>  

<form role="form" class="form-horizontal">

  <script cam-script type="text/form-script">
  
	//traer variable 'cliente' ingresada en: start-form	
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('cliente');
	});
	camForm.on('variables-fetched', function() {
  		$scope.cliente = camForm.variableManager.variableValue('cliente');
	});

	//traer variable 'producto' creada en: categoria-form	
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('productoJson');
	});
	camForm.on('variables-fetched', function() {
  		$scope.producto = camForm.variableManager.variableValue('productoJson');
	});

	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('presupuesto');
	});
	camForm.on('variables-fetched', function() {
  		$scope.presupuesto = camForm.variableManager.variableValue('presupuesto');
	});

  </script>
  
  <div class="control-group">
    <div class="controls">
 
      <label for="COTIZACION" class="control-label">Nombre del Presupuesto</label>
      <input cam-variable-name="COTIZACION"
             readonly
             class="form-control" />
        
      <label for="CLIENTE" class="control-label">Cliente</label>
      <input cam-variable-name="CLIENTE"
             readonly
             class="form-control" />
    
      <label for="EMAIL" class="control-label">E-mail</label>
      <input cam-variable-name="EMAIL"                
             readonly
             class="form-control" />
             
      <label for="TEL" class="control-label">Tel</label>
      <input cam-variable-name="TEL"                        
             readonly
             class="form-control" />
             
	  <label for="CELULAR" class="control-label">Celular</label>
      <input cam-variable-name="CELULAR"                        
             readonly
             class="form-control" />		             	
    
      <label for="CATEGORIA_SELECCIONADA" class="control-label">Categoria</label>
      <input cam-variable-name="CATEGORIA_PRODUCTO"
    	     readonly
    	     class="form-control" />
   		   		
      <label for="PRODUCTO_SELECCIONADO" class="control-label">Producto</label>
   	  <input cam-variable-name="PRODUCTO_SELECCIONADO"
    	     readonly
    	     class="form-control" />
      
     <label class="control-label">Unidades</label>
     <input cam-variable-name="UNIDADES"
    	    class="form-control"
    	    readonly>
		   		
   	  <label class="control-label">Moneda</label>
      <address>		      
		  <span ng-if="moneda == 'dolares'">U$S</span>
		  <span ng-if="moneda == 'pesos'">$</span>
	  </address>
   		   		
     <label for="PRECIO" class="control-label">Precio</label>
   	 <input cam-variable-name="PRECIO"
    	    readonly
    	    class="form-control" />
   		   		
   	 <label for="DESCRIPCION" class="control-label">Descripcion</label>   		
   	 <textarea cam-variable-name="DESCRIPCION" cam-variable-type="String" rows= 3  class= "form-control" readonly></textarea>
   	       	    
   	 <label for="DIMENSIONES" class="control-label">Dimensiones</label>
   	 <input type="text" 
     	    cam-variable-name="DIMENSIONES"
    	    class="form-control"
     	    readonly />
     	   
     <label for="CONDICIONES" class="control-label">Condiciones</label>   		
   	 <br>
   	 <textarea cam-variable-name="CONDICIONES" cam-variable-type="String" rows= 7  class= "form-control" readonly></textarea>
    	
     <label for="FORMA_DE_PAGO" class="control-label">Forma de Pago</label>   		
   	 <br>
   	 <textarea cam-variable-name="FORMA_DE_PAGO" cam-variable-type="String" rows= 5  class= "form-control" readonly></textarea>
    	
     <label for="TIEMPO_DE_ENTREGA" class="control-label">Tiempo de Entrega</label>   		
   	 <br>
   	 <textarea cam-variable-name="TIEMPO_DE_ENTREGA" cam-variable-type="String" rows= 2  class= "form-control" readonly></textarea>
    	   	    	   	
   	 <br>		
   	 <label class="control-label">Tipo de Cliente</label>
     <input class="form-control"
         	ng-model="cliente.tipo"
            readonly />
   	 
   	 <label for="DESCUENTO" class="control-label">Descuento %</label>
   	 <input type="text"
       	    cam-variable-name="DESCUENTO"
       		class="form-control" 
       		readonly />
   		   		
   	 <label for="SOBRECOSTO" class="control-label">Sobrecosto %</label>
   	 <input type="text"
       		cam-variable-name="SOBRECOSTO"
       		class="form-control" 
       		readonly />
       	   		
   	 <label for="PRECIO_FINAL" class="control-label">Precio Final</label>
   	 <input type="text"
       		cam-variable-name="PRECIO_FINAL"
       		class="form-control" 
       		readonly />
       		
     <br>
	 <label for="descartarPresupuesto">Descartar presupuesto</label>
	 <input type="checkbox"
	        cam-variable-name="descartarPresupuesto"
	        cam-variable-type="Boolean"
	        name="descartarPresupuesto"
	        class="form-control" />
       	
  	</div>
 </div>
</form>